@import '../../Styles/styles.scss';

.button-action,
.button-info {
  background-color: transparent;
  @include dark-mode(false);
  font-size: $mobile-paragraph;
  padding: 0.8rem 0.8rem;
  margin-right: 0.4rem;
  display: inline-block;
  transition: 0.35s ease;
}

.button-info {
  border: 1px solid $primary-blue;
  font-weight: 600;
  border-radius: 0.4rem;
}

.button-info:hover {
  transform: translateY(-0.5rem);
  box-shadow: 3px 3px 10px -5px black;
}

.button-action {
  border-bottom: 0.3rem solid $primary-blue;
  display: flex;
  align-items: center;

  font-weight: 800;

  > svg {
    margin-right: 0.8rem;
  }
}

.button-action:hover,
.button-action:focus {
  box-shadow: inset 0 -3.25em 0 0 $primary-blue;
}

body.dark-mode {
  .button-info,
  .button-action {
    @include dark-mode(true);
    transition: 0.35s ease;
  }

  .button-info:hover {
    transform: translateY(-0.5rem);
    box-shadow: 3px 3px 10px -5px white;
  }
}
