.navBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start !important;
  background-color: #f3f3f3;
  position: absolute;
  right: 1.6rem;
  bottom: -17.3rem;
  min-width: 25rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 800;
  box-shadow: 0px 3px 9px 1px black;
  transition: color 1.5s, backGround 1.5s;
}

.navBox .nav-item--mobile {
  cursor: pointer;
  min-width: 100%;
  padding: 1rem 0rem;
}

.navBox .nav-item--mobile:last-of-type {
  margin-bottom: 1.5rem;
}

.navBox > button {
  margin: 0 auto;
}

body.dark-mode .navBox {
  background-color: #535353;
  color: white;
}
