@import '../../Styles/styles.scss';

.projectCard {
  margin-bottom: 2rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  overflow: hidden;
  max-width: 40rem;

  > img {
    max-height: 20.5rem;
    min-width: 100%;
  }
}

.projectCard-inner__div {
  padding: 1.6rem;

  > h1 {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 2.4rem;
    font-weight: 800;
    color: $primary-blue;
    letter-spacing: -1.5px;
  }

  > p {
    font-size: $mobile-paragraph;
    line-height: 2rem;
    @include dark-mode(false);
  }

  > div {
    display: flex;
  }
  a {
    text-decoration: none;
  }
}

body.dark-mode {
  .projectCard-inner__div {
    > p {
      @include dark-mode(true);
    }
  }
}
