.projects-container-outer {
  height: fit-content;
  padding: 1.6rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container-inner {
  width: 100%;
  max-width: 40rem;
}
