//COLOURS

$light-bg-grey: #f3f3f3;
$dark-bg-grey: #535353;

$primary-blue: #5784f9;
$primary-black: #25282b;
$primary-white: #ffffff;

//FONTS

$Mulish: 'Mulish', sans-serif;
$Lato: 'Lato', sans-serif;

//FONT SIZES

$mobile-heading: 2.4rem;
$mobile-sub-heading: 2rem;
$mobile-paragraph: 1.4rem;

$desktop-heading: 4.8rem;
$desktop-sub-heading: 3.6rem;
$desktop-paragraph: 1.8rem;
