@import '../../../Styles/styles.scss';

.pageTitle {
  font-size: $mobile-heading;
  margin: 4rem 0rem 8rem 0rem;
  border-bottom: 4px solid $primary-blue;
  min-height: 5rem;
  @include dark-mode(false);
  z-index: 1;
}

body.dark-mode {
  .pageTitle {
    @include dark-mode(true);
  }
}

@media only screen and (min-width: 1024px) {
  .pageTitle {
    font-size: $desktop-sub-heading;
    min-height: 6.5rem;
  }
}
