.pageTitle {
  font-size: 2.4rem;
  margin: 4rem 0rem 8rem 0rem;
  border-bottom: 4px solid #5784f9;
  min-height: 5rem;
  color: black;
  transition: color 1s;
}

body.dark-mode .pageTitle {
  color: white;
  transition: color 1s;
}

@media only screen and (min-width: 1024px) {
  .pageTitle {
    font-size: 3.6rem;
    min-height: 6.5rem;
  }
}
