@import '../../Styles/styles.scss';

.navBar-container {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  width: 100%;

  position: fixed;
  z-index: 2;
  background-color: transparent;
  // border-bottom: 1px solid $primary-black;
  box-shadow: 0.5px 0.5px 4px 0px $primary-black;
}

.logo {
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
