@import '../../Styles/styles.scss';

.navBar-container {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  width: 100%;

  position: fixed;
  z-index: 2;
  background-color: transparent;
  // border-bottom: 1px solid $primary-black;
  box-shadow: 0.5px 0.5px 4px 0px #e7e5e5;
}

.logo {
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

@media only screen and (min-width: 1024px) {
  .navBar-container {
    // $pad: 5% + 3.8rem;
    // padding: 1.6rem 5% + 3.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .navBar-container {
    // padding: 1.6rem 10% + 3.8rem;
  }
}
