.navBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  box-shadow: 0.5px 0.5px 4px 0px #e7e5e5;
}

.logo {
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
