@import '../../../Styles/styles.scss';

.about-container-outer {
  // border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  > img {
    position: absolute;
    max-width: 18rem;
    right: 0;
    top: 5rem;
  }
}

.about-container-inner {
  // border: 1px solid blue;
  max-width: 40rem;
  padding: 1.6rem 3.8rem;
  display: flex;
  flex-direction: column;

  > p {
    font-weight: 400;
    font-size: $mobile-paragraph;
    margin: 0.5rem 0rem;
    @include dark-mode(false);
    line-height: 2.2rem;
  }

  > span {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: $Mulish;
    margin: 0.5rem 0rem;
  }

  > span:first-of-type {
    @include dark-mode(false);
  }

  > span:last-of-type,
  #about-name__span {
    color: $primary-blue;
  }
  #about-name__span {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: -0.5px;
  }

  > img {
    margin: 1rem 0rem;
    filter: brightness(110%);
  }
}

.about-skills__div {
  padding: 0rem 3.8rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem;

  > span {
    font-weight: 700;
    font-family: $Mulish;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.5rem;
    @include dark-mode(false);
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > button {
      margin-bottom: 0.4rem;
    }
  }
}

body.dark-mode {
  .about-container-inner {
    > p {
      @include dark-mode(true);
    }

    > span:first-of-type {
      @include dark-mode(true);
    }
  }

  .about-skills__div {
    > span {
      @include dark-mode(true);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .about-container-outer {
    // border: 1px solid red;

    > img {
      position: absolute;
      max-width: 36rem;
      right: 0;
      top: 15rem;
    }
    padding: 0rem 5% 0rem 5%;
  }
  .about-container-inner {
    // border: 1px solid red;
    align-self: flex-start;
    max-width: 80rem;
    text-align: left;

    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    grid-template-areas: 'img text';

    > img {
      max-width: 30rem;
      grid-area: img;
    }
    > * {
      grid-area: text;
    }

    > span:first-of-type {
      margin: 12rem 0rem 0rem 0rem;
    }

    #about-name__span {
      margin: 15rem 0rem 0rem 0rem;
    }

    > p:first-of-type {
      margin: 18.5rem 0rem 0rem 0rem;
    }

    > span:nth-of-type(3) {
      margin: 24rem 0rem 0rem 0rem;
    }
    > p:last-of-type {
      margin: 27rem 0rem 0rem 0rem;
    }
  }

  .about-skills__div {
    align-self: flex-start;
    max-width: none;

    align-items: flex-start;
  }
}

@media only screen and (min-width: 1440px) {
  .about-container-outer {
    // border: 1px solid red;

    > img {
      position: absolute;
      max-width: 48rem;
      right: 0;
      top: 10rem;
    }
    padding: 0rem 10% 20rem 10%;
  }

  .about-container-inner {
    grid-template-columns: 47% 53%;
    max-width: 88rem;

    > img {
      max-width: 35rem;
    }

    > span:first-of-type {
      font-size: 2.4rem;
      margin: 10rem 0rem 0rem 0rem;
    }

    #about-name__span {
      font-size: 2.6rem;
      margin: 14rem 0rem 0rem 0rem;
    }

    > p:first-of-type {
      font-size: 1.6rem;
      margin: 18.5rem 0rem 0rem 0rem;
    }

    > span:nth-of-type(3) {
      font-size: 2.4rem;
      margin: 24rem 0rem 0rem 0rem;
    }
    > p:last-of-type {
      font-size: 1.6rem;
      margin: 28rem 0rem 0rem 0rem;
    }
  }
}
