.intro-container-outer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.intro-container-outer > img {
  max-width: 35rem;
  position: absolute;
  right: 0;
}

.intro-container-inner {
  padding: 19.2rem 0rem 0rem 1.6rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 1;
}

.intro-container-inner > img {
  max-width: 20rem;
  align-self: flex-end;
  box-shadow: -3px -3px 30px -6px black;
  position: absolute;
  bottom: 5rem;
}

.intro-container-inner > button {
  position: absolute;
  bottom: 5rem;
}

.intro-info__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: fit-content;
  z-index: 1;
}

.intro-info__div > span {
  font-family: "Mulish", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 5rem;
}

.intro-info__div > p {
  font-size: 3.2rem;
  color: #5784f9;
  margin: 0;
  line-height: 5rem;
}

.intro-info__div > img {
  max-width: 28rem;
  margin-bottom: 2rem;
}

.intro-icon__div {
  display: flex;
}
