@import '../../../Styles/styles.scss';

.intro-container-outer {
  // border: 1px solid green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  > img {
    max-width: 35rem;

    position: absolute;
    right: 0;
  }
}

.intro-container-inner {
  padding: 19.2rem 0rem 0rem 1.6rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  z-index: 1;

  > img {
    max-width: 20rem;

    align-self: flex-end;
    // margin-top: 5rem;
    box-shadow: -3px -3px 30px -6px black;
    position: absolute;
    bottom: 5rem;
  }

  > button {
    position: absolute;
    bottom: 5rem;
  }
}

.intro-info__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: fit-content;
  z-index: 1;
  > span {
    font-family: $Mulish;
    font-size: $mobile-heading;
    font-weight: 800;
    line-height: 5rem;
  }

  > p {
    font-size: $mobile-heading;
    color: $primary-blue;
    margin: 0;
    line-height: 5rem;
  }

  > img {
    max-width: 28rem;
    margin-bottom: 2rem;
  }
}

.intro-icon__div {
  display: flex;
}
