.intro-container-outer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.intro-container-outer > img {
  max-width: 35rem;
  position: absolute;
  right: 0;
}

.intro-container-inner {
  padding: 19.2rem 0rem 0rem 1.6rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 1;
  min-height: 100%;
}

.intro-container-inner > img {
  max-width: 25rem;
  align-self: flex-end;
  position: absolute;
  bottom: 10rem;
}

.intro-container-inner > button {
  position: absolute;
  bottom: 10rem;
}

.intro-info__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: fit-content;
  z-index: 1;
}

.intro-info__div > span {
  font-family: "Mulish", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 5rem;
  color: black;
  transition: color 1s;
}

.intro-info__div > p {
  font-size: 3.2rem;
  color: #5784f9;
  margin: 0;
  line-height: 5rem;
}

.intro-info__div > img {
  min-width: 100%;
  margin-bottom: 2rem;
}

.intro-icon__div {
  display: flex;
}

body.dark-mode .intro-info__div > span {
  color: white;
  transition: color 1s;
}

@media only screen and (min-width: 768px) {
  .intro-container-outer > img {
    min-width: 45rem;
  }
  .intro-container-inner > img {
    max-width: 30rem;
  }
  .intro-info__div {
    position: relative;
    bottom: 3rem;
  }
  .intro-info__div > span {
    font-family: "Mulish", sans-serif;
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 8rem;
  }
  .intro-info__div > p {
    font-size: 4.8rem;
    color: #5784f9;
    margin: 0;
    line-height: 8rem;
  }
  .intro-info__div > img {
    max-width: 40rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-container-outer {
    padding: 0rem 5% 0rem 5%;
  }
  .intro-container-outer > img {
    min-width: 60rem;
  }
  .intro-container-inner {
    padding: 19.2rem 3.8rem;
  }
  .intro-container-inner > img {
    max-width: 35rem;
  }
}

@media only screen and (min-width: 1440px) {
  .intro-container-outer {
    padding: 0rem 10% 0rem 10%;
  }
  .intro-container-outer > img {
    min-width: 77rem;
  }
  .intro-container-inner > img {
    max-width: 45rem;
  }
  .intro-info__div > span {
    font-family: "Mulish", sans-serif;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 10rem;
  }
  .intro-info__div > p {
    font-size: 5.6rem;
    color: #5784f9;
    margin: 0;
    line-height: 10rem;
  }
  .intro-info__div > img {
    max-width: 40rem;
    margin-bottom: 2rem;
  }
}
